.app {
  background-color: #fff;
}
.sub-title {
  padding: 15;
  color: #666;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.logo {
  height: 40px;
}
.logo-content {
  display: flex;
  align-items: center;
}
.logo-content {
  text-decoration: none;
}
.content.page {
  margin-top: 0;
}
.text-link {  
  margin: 40px auto;
  padding: 15;
  color: #666;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background: none;
  border: none;
  text-decoration: underline;
} 
strong.line {
  text-decoration: underline;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  width: 80%;
  text-align: center;
}

.header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.logo-text {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 60px;
  margin: 20px auto;
  color: #fff;
  font-size: 1em;
  font-family: 'Roboto';
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  background-color: #48adc9;
}

.title {
  padding: 15;
  color: #282828;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.text {
  width: 80%;
  margin: 15px auto;
  font-size: .95em;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #555;
}

.input {  
  width: 240px;
  height: 50px;
  margin: 0 auto;
  padding: 0 15px;
  line-height: 50px;
  border: 2px solid #bbb;
  border-radius: 8px;
  background-color: #eee;
  color: #444;
}

.label {
  display: block;
  margin: 25px auto 15px;
  font-size: .9em;
  font-weight: 500;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #555;
}

.page * {
  width: 100%;
  text-align: justify;
}

.page em {
  color: #999;
}

.page a {
  color: #666;
}



@media (prefers-reduced-motion: no-preference) {
  
}